.groupinfo {
  background-color: #fff !important;
  text-decoration: none;
}

.groupauthority {
  background-color: #fff !important;
  text-decoration: none;
}

.groupaccount {
  background-color: #fff !important;
  text-decoration: none;
}
