.system {
  background-color: #fff !important;
  text-decoration: none;
}

.program {
  background-color: #fff !important;
  text-decoration: none;
}

.role {
  background-color: #fff !important;
  text-decoration: none;
}

.factory {
  background-color: #fff !important;
  text-decoration: none;
}
